.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background: #ccc;
  color: #fff;
  background-image: url(../../assets/images/orange-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}